.input {
	height: 1rem;
	width: 1rem;
	padding: 0.5rem;
	margin: 0.5rem;
}

.page-btn {
	background-color: black;
	padding: 1rem;
	color: white;
	border-radius: 8px;
}

.pagination-container {
	width: 800px;
	display: flex;
	justify-content: space-evenly;
}
.active {
	background-color: white;
	color: black;
	border: 2px solid black;
}
.page-btn:hover {
	transform: scale(1.2);
}
.accordian {
	border: 2px solid black;
	margin: 0.5rem;
	padding: 0.5rem;
	position: relative;
}

span {
	position: absolute;
	cursor: pointer;
	right: 2rem;
	bottom: 2rem;
}

.container-file {
	border-left: 1px solid black;
	padding-left: 0.5rem;
}
.span-file {
	margin: 0.5rem;
}
.main-component {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.btn-class {
	height: 40px;
	border: 2px solid gray;
	border-radius: 5px;
	cursor: pointer;
}
.tabs_content {
	width: 16rem;
	height: 20rem;
	border: 1px solid black;
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.active {
	border-bottom: none;
}
.grid-container {
	display: grid;
	width: 16rem;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
.cell {
	height: 5rem;
	width: 5rem;
	border: 1px solid black;
}
.active {
	background-color: aquamarine;
}
.img {
	object-fit: cover;
	border-radius: 10px;
	margin: 5px;
	height: 250px;
	width: 150px;
}
.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.progress-container {
	position: relative;
	height: 20px;
	width: 300px;
	border: 1px solid gray;
	border-radius: 10px;
	overflow: hidden;
}
.progress-bar {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: green;
	/* transform: translateX(0%); */
	position: absolute;
}
.signal {
	height: 3rem;
	width: 3rem;
	border: 1px solid black;
	border-radius: 50%;
}
.modal-container {
	position: fixed;
	border: 1px solid black;
	padding: 1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border-radius: 10px;
}
.game-grid {
	display: grid;
	height: 15rem;
	width: 15rem;
	grid-template-columns: repeat(6, 1fr);
	margin-right: 100px;
}
.cards {
	height: 3rem;
	width: 3rem;
	margin: 3px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	cursor: pointer;
}
.main-game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
